<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home - AI Researcher</title>
</head>

<body>
    <div class="whole-container">
        <div class="left">
            <!-- It Contains SideBar -->
            <div class="logo">
                <img id="logo" src="/static/logo.png" alt="AI Researcher Logo">
                <h2 id="logo-text">DexterityCoder</h2>
            </div>

            <div class="chats">
                <div class="chat" style="background: #116dff; color: white;"><p>Export PDF</p></div>
                <div class="chat"><p>New Chat</p></div>
                <div class="chat"><p>Hello, how are you</p></div>
                <div class="chat"><p>Who build AI Researcher</p></div>
                <div class="chat"><p>Who is Steve Jobs</p></div>
            </div>
        </div>
        {% if not answer %}
        <div class="right-before">
            <!-- It Contains User Question and AI Answer -->
            <div id="welcome">
                <h1>Welcome to AI Researcher</h1>
                <p>Ask your questions about AI and get answers from our AI Researcher.</p>
            </div>

            <div class="services">
                <!-- It Contains Boxes of different services -->
                <div class="service">
                    <h2>PDF Upload & Analysis </h2>
                    <p>Extract text, metadata (title, pages, words, reading time).</p>
                </div>
                <div class="service">
                    <h2>Research Gap Detection</h2>
                    <p>Identify unexplored areas and potential future research</p>
                </div>
                <div class="service">
                    <h2> Export to PDF</h2>
                    <p>Generate professional reports with branding (“DexterityCoder”).</p>
                </div>
            </div>

            <form class="question-asking-form" action="/ask" method="post">
                <input class="question-asking-prompt" type="text" name="question" placeholder="Type your question here..."
                    required>
                <button class="question-asking-prompt-button" type="submit" href="{{url_for('ask')}}">Ask</button>
            </form>

        </div>
        {% else %}
        <div class="right-after">
            <!-- It Contains User Question and AI Answer -->
                <div class="question">
                    <img id="logo" src="/static/logo.png" alt="Logo">
                    <p>{{question}}</p>
                </div>
                <div class="answer">
                    <img id="answer-logo" src="/static/AI-logo.png" alt="Logo">
                    <p>{{answer}}</p>
                </div>

             <form class="question-asking-form" action="/ask" method="post">
                <input class="question-asking-prompt" type="text" name="question" placeholder="Type your question here..."
                    required>
                <button class="question-asking-prompt-button" type="submit">Ask</button>
            </form>
        </div>
        {% endif %}
    </div>
</body>
<script src="/static/script.js"></script>
</html>